[submodule "P0267_RefImpl/Samples/SVG/external/svgpp"]
	path = P0267_RefImpl/Samples/SVG/external/svgpp
	url = https://github.com/svgpp/svgpp
[submodule "P0267_RefImpl/Samples/SVG/external/rapidxml_ns"]
	path = P0267_RefImpl/Samples/SVG/external/rapidxml_ns
	url = https://github.com/svgpp/rapidxml_ns
[submodule "P0267_RefImpl/Tests/Catch2"]
	path = P0267_RefImpl/Tests/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "P0267_RefImpl/P0267_RefImpl/cairo/sdl2/external/cairo"]
	path = P0267_RefImpl/P0267_RefImpl/cairo/sdl2/external/cairo
	url = git://anongit.freedesktop.org/cairo
[submodule "P0267_RefImpl/P0267_RefImpl/cairo/sdl2/external/pixman"]
	path = P0267_RefImpl/P0267_RefImpl/cairo/sdl2/external/pixman
	url = git://anongit.freedesktop.org/pixman
	branch = 0.34
