os:
  - Visual Studio 2017

environment:
    matrix:
        - TRIPLET: x64-windows
          GENERATOR: "Visual Studio 15 2017 Win64"
          PLATFORM: x64

        - TRIPLET: x86-windows
          GENERATOR: "Visual Studio 15 2017"
          PLATFORM: Win32

install:
  - git submodule update --init --recursive
  - where vcpkg
  - vcpkg list
  - set
  - powershell ls -r c:\tools\vcpkg
  - powershell ls -r C:\projects\p0267-refimpl
  # - vcpkg install cairo:%TRIPLET%
  # - vcpkg install graphicsmagick:%TRIPLET%
 
configuration:
  - Debug

before_build:
  - mkdir %CONFIGURATION%
  - cd %CONFIGURATION%
  - cmake -G "%GENERATOR%" --config %CONFIGURATION% "-DCMAKE_BUILD_TYPE=%CONFIGURATION%" -DIO2D_DEFAULT=CAIRO_WIN32 "-DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake" "-DVCPKG_TARGET_TRIPLET=%TRIPLET%" ../.

build_script:
  # - msbuild io2d.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - echo build_script

test_script:
  # - ctest -V -C %CONFIGURATION%
  - echo test_script
