################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P0267_RefImpl/Debug
*.user
/Debug
/ipch/P0267_RefImpl-e13b5b2c
/P0267_RefImpl.opensdf
/P0267_RefImpl.sdf
/P0267_RefImpl.v12.suo
/P0267_RefImpl/x64/Release/P0267_RefImpl.tlog
/P0267_RefImpl/x64/Release/P0267_RefImpl.log
/P0267_RefImpl/x64/Release/P0267_RefImpl.obj
/P0267_RefImpl/x64/Release/P0267_RefImpl.pch
/P0267_RefImpl/x64/Release/P0267_RefImpl.res
/P0267_RefImpl/x64/Release/context.obj
/P0267_RefImpl/x64/Release/device.obj
/P0267_RefImpl/x64/Release/drawing_exception.obj
/P0267_RefImpl/x64/Release/font_face.obj
/P0267_RefImpl/x64/Release/font_options.obj
/P0267_RefImpl/x64/Release/gradient_pattern.obj
/P0267_RefImpl/x64/Release/image_surface.obj
/P0267_RefImpl/x64/Release/linear_gradient_pattern.obj
/P0267_RefImpl/x64/Release/matrix.obj
/P0267_RefImpl/x64/Release/mesh_pattern.obj
/P0267_RefImpl/x64/Release/pattern.obj
/P0267_RefImpl/x64/Release/pch.obj
/P0267_RefImpl/x64/Release/radial_gradient_pattern.obj
/P0267_RefImpl/x64/Release/raster_source_pattern.obj
/P0267_RefImpl/x64/Release/region.obj
/P0267_RefImpl/x64/Release/scaled_font.obj
/P0267_RefImpl/x64/Release/solid_color_pattern.obj
/P0267_RefImpl/x64/Release/surface.obj
/P0267_RefImpl/x64/Release/surface_pattern.obj
/P0267_RefImpl/x64/Release/toy_font_face.obj
/P0267_RefImpl/x64/Release/user_data_key.obj
/P0267_RefImpl/x64/Release/vc120.pdb
/x64/Release
/P0267_RefImpl/x64/Release
/P0267_RefImpl/x64/Debug/P0267_RefImpl.tlog
/P0267_RefImpl/x64/Debug/P0267_RefImpl.pch
/P0267_RefImpl/x64/Debug/P0267_RefImpl.res
/P0267_RefImpl/x64/Debug/vc120.idb
Makefile
Makefile.in
