################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/N3888_RefImpl/Debug
*.user
/Debug
/ipch/N3888_RefImpl-e13b5b2c
/N3888_RefImpl.opensdf
/N3888_RefImpl.sdf
/N3888_RefImpl.v12.suo
/N3888_RefImpl/x64/Release/N3888_RefImpl.tlog
/N3888_RefImpl/x64/Release/N3888_RefImpl.log
/N3888_RefImpl/x64/Release/N3888_RefImpl.obj
/N3888_RefImpl/x64/Release/N3888_RefImpl.pch
/N3888_RefImpl/x64/Release/N3888_RefImpl.res
/N3888_RefImpl/x64/Release/context.obj
/N3888_RefImpl/x64/Release/device.obj
/N3888_RefImpl/x64/Release/drawing_exception.obj
/N3888_RefImpl/x64/Release/font_face.obj
/N3888_RefImpl/x64/Release/font_options.obj
/N3888_RefImpl/x64/Release/gradient_pattern.obj
/N3888_RefImpl/x64/Release/image_surface.obj
/N3888_RefImpl/x64/Release/linear_gradient_pattern.obj
/N3888_RefImpl/x64/Release/matrix.obj
/N3888_RefImpl/x64/Release/mesh_pattern.obj
/N3888_RefImpl/x64/Release/pattern.obj
/N3888_RefImpl/x64/Release/pch.obj
/N3888_RefImpl/x64/Release/radial_gradient_pattern.obj
/N3888_RefImpl/x64/Release/raster_source_pattern.obj
/N3888_RefImpl/x64/Release/region.obj
/N3888_RefImpl/x64/Release/scaled_font.obj
/N3888_RefImpl/x64/Release/solid_color_pattern.obj
/N3888_RefImpl/x64/Release/surface.obj
/N3888_RefImpl/x64/Release/surface_pattern.obj
/N3888_RefImpl/x64/Release/toy_font_face.obj
/N3888_RefImpl/x64/Release/user_data_key.obj
/N3888_RefImpl/x64/Release/vc120.pdb
/x64/Release
/N3888_RefImpl/x64/Release
/N3888_RefImpl/x64/Debug/N3888_RefImpl.tlog
/N3888_RefImpl/x64/Debug/N3888_RefImpl.pch
/N3888_RefImpl/x64/Debug/N3888_RefImpl.res
/N3888_RefImpl/x64/Debug/vc120.idb
